{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1 class="d-inline">Batch Lab Attendance</h1>
        </div>
        <div class="col-3 text-end">
            <a href="{% url 'batch_detail' pk=batch.id %}" class="btn btn-info shadow-sm">Return to Batch Details</a>
        </div>
    </div>
</div>
 
<form method="post">
    {% csrf_token %}
    
    <table class="table table-bordered mt-3">
        <thead class="thead-light">
            <tr>
                <th>Student Name</th>
                <th>Status</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
                <th>system_no</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students_data %}
            <tr>
                <td>{{ student.name }}</td>
                <td>
                    <select name="status_{{ student.student_id }}" id="status_{{ student.student_id }}" class="form-control status-select" style="max-width: 200px;">
                        <option value="present" selected>Present</option>
                        <option value="absent">Absent</option>
                        
                    </select>
                </td>
                <td>
                    <input type="time" id="entry_time_{{ student.student_id }}" name="entry_time_{{ student.student_id }}" {% if not student.entry_time %}
                    value="{{ entry_time }}" {% else %} value="{{student.entry_time}}" {% endif %} class="form-control entry-time" style="max-width: 200px;" {% if not student.entry_time %}disabled{% endif %}>
                </td>
                <td>
                    <input type="time" id="exit_time_{{ student.student_id }}" name="exit_time_{{ student.student_id }}"{% if not student.exit_time %}
                    value="{{ exit_time }}" {% else %} value="{{student.exit_time}}" {% endif %}  class="form-control exit-time" style="max-width: 200px;" {% if not student.exit_time %}disabled{% endif %}>
                </td>
                <td>
                    <input type="number" id="system_no_{{ student.student_id }}" name="system_no_{{ student.student_id }}" value="{{ student.system_no }}" class="form-control entry-time" style="max-width: 200px;" >
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-info mt-3">Update Attendance</button>
</form>

<h2 class="mt-5">Previous Attendance Data:</h2>
<table class="table table-bordered mt-3">
    <thead class="thead-light">
        <tr>
            <th>Student Name</th>
            <th>Attendance Status</th>
            <th>Entry Time</th>
            <th>Exit Time</th>
            <th>system_no</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students_data %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{% if student.status %} {{student.status}} {% else %}-{% endif %}</td>
            <td>{% if student.entry_time %}{{ student.entry_time }}{% else %}-{% endif %}</td>
            <td>{% if student.exit_time %}{{ student.exit_time }}{% else %}-{% endif %}</td>
            <td>{{ student.system_no }}</td>
            <td>
                <form method="post" action="{% url 'delete_lab_attendance' batch_id=batch.id date=date stud_id=student.student_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    // Event handler to enable/disable entry and exit time based on status selection
    document.addEventListener("DOMContentLoaded", function() {
        const statusSelects = document.querySelectorAll(".status-select");
        
        statusSelects.forEach(function(select) {
            const entryTimeInput = select.closest("tr").querySelector(".entry-time");
            const exitTimeInput = select.closest("tr").querySelector(".exit-time");
            entryTimeInput.removeAttribute("disabled");
            exitTimeInput.removeAttribute("disabled");
            select.addEventListener("change", function() {
                if (select.value === "present") {
                    entryTimeInput.removeAttribute("disabled");
                    exitTimeInput.removeAttribute("disabled");
                } else {
                    entryTimeInput.setAttribute("disabled", true);
                    exitTimeInput.setAttribute("disabled", true);
                }
            });
        });
    });
</script>


{% endblock content %}
