{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1 class="d-inline">Daily Attendance for Staff</h1>
            </div>
            <div class="col-3 text-end">
                <a href="{% url 'router' %}" class="btn btn-info shadow-sm">Return to Dashboard</a>
            </div>
        </div>

        <h2>Date: {{ date }}</h2>
        
        <form method="post">
            {% csrf_token %}
            <table class="table table-bordered mt-3">
                <thead class="thead-light">
                    <tr>
                        <th>Staff Name</th>
                        <th>Entry Time</th>
                        <th>Exit Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in staffs_data %}
                    <tr>
                        <td>{{ staff.name }}</td>
                        <td>
                            <input type="time" id="entry_time_{{ staff.staff_id }}" name="entry_time_{{ staff.staff_id }}" value="{% if staff.entry_time %}{{ staff.entry_time }}{% elif request.GET.entry_time %}{{ request.GET.entry_time }}{% endif %}" class="form-control" style="max-width: 200px;">
                        </td>
                        <td>
                            <input type="time" id="exit_time_{{ staff.staff_id }}" name="exit_time_{{ staff.staff_id }}" value="{% if staff.exit_time %}{{ staff.exit_time }}{% elif request.GET.exit_time %}{{ request.GET.exit_time }}{% endif %}" class="form-control" style="max-width: 200px;">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-info mt-3">Update Attendance</button>
        </form>
        
        
        <h2 class="mt-5">Previous Attendance Data:</h2>
        <table class="table table-bordered mt-3">
            <thead class = "thead-light">
                <tr>
                    <th>Staff Name</th>
                    <th>Entry Time</th>
                    <th>Exit Time</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in staffs_data %}
                <tr>
                    <td>{{ staff.name }}</td>
                    <td>
                        {% if staff.entry_time %}
                            {{ staff.entry_time }}
                        {% else %}
                            Absent
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.exit_time %}
                            {{ staff.exit_time }}
                        {% else %}
                            Absent
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
