{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1 class="d-inline">Batch Theory Attendance</h1>
        </div>
        <div class="col-3 text-end">
            <a href="{% url 'router' %}" class="btn btn-info shadow-sm">Return to Dashboard</a>
        </div>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    
    <div class="row">
        {% for student in students_data %}
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h3>Student: {{ student.name }}</h3>
                    <div class="mb-3">
                        <label for="entry_time_{{ student.student_id }}" class="form-label">Entry Time:</label>
                        <input type="time" id="entry_time_{{ student.student_id }}" name="entry_time_{{ student.student_id }}" value="{{ student.entry_time }}" class="form-control" style="max-width: 200px;">
                    </div>
                    <div class="mb-3">
                        <label for="exit_time_{{ student.student_id }}" class="form-label">Exit Time:</label>
                        <input type="time" id="exit_time_{{ student.student_id }}" name="exit_time_{{ student.student_id }}" value="{{ student.exit_time }}" class="form-control" style="max-width: 200px;">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <button type="submit" class="btn btn-info mt-3">Update Attendance</button>
</form>

<h2 class="mt-5">Previous Attendance Data:</h2>
<table class="table table-bordered mt-3">
    <thead class="thead-light">
        <tr>
            <th>Student Name</th>
            <th>Entry Time</th>
            <th>Exit Time</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students_data %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.entry_time }}</td>
            <td>{{ student.exit_time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock content %}